.categories-page {
  margin-top: 70px !important;
  .categories-icons {
    text-align: center !important;
    cursor: pointer;
  }
}

@media (min-width: 992px) {
  .categories-page {
    @include remove-display();
  }
}
