.image-container {
  max-width: 345px;
}

.events-images {
  height: 120px;
}
.home-events {
  padding-right: 0 !important;
}

.events-location-container {
  opacity: 0.7;
}
.events-location-icon {
  font-size: 1rem !important;
  margin-top: 4px !important;
}

.events-typography {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// .events-col {
//   padding-right: 0 !important;
// }

// @media (max-width: 576) {
//   .scrolling-wrapper {
//     display: flex;
//     flex-wrap: nowrap;
//     overflow-x: auto;

//     .scrolling-item {
//       display: flex;
//       flex: 0 0 auto;
//     }
//   }
// }

@media (min-width: 716px) {
  .events-images {
    height: 160px !important;
  }
}

@media (min-width: 991px) {
  .events-images {
    height: 200px !important;
  }
}

@media (min-width: 1200px) {
  .events-images {
    height: 250px !important;
  }
  .events-typography {
    font-size: 18px !important;
  }
}
