@mixin events-text-styles {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.event-item-container {
  &::-webkit-scrollbar {
    width: 0 !important;
  }
  .homepage-events-container {
    margin-right: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    &:last-child {
      margin-right: 0;
    }

    .all-event-container {
      height: 200px;
      min-width: 250px;
      .events-image {
        object-fit: cover;
      }
    }

    .events-typography {
      @include events-text-styles();
      padding: 0 7px;
    }
    .events-location-container {
      opacity: 0.7;
      padding: 0 7px;

      .events-location-icon {
        font-size: 1rem !important;
      }
      .events-location {
        @include events-text-styles();
      }
    }
  }
}

// .events-col {
//   padding-right: 0 !important;
// }

// @media (max-width: 576) {
//   .scrolling-wrapper {
//     display: flex;
//     flex-wrap: nowrap;
//     overflow-x: auto;

//     .scrolling-item {
//       display: flex;
//       flex: 0 0 auto;
//     }
//   }
// }

// @media (min-width: 716px) {
//   .events-images {
//     height: 160px !important;
//   }
// }

@media (min-width: 991px) {
  // .events-images {
  //   height: 200px !important;
  // }
  // .all-event-container {
  //   width: auto !important;
  // }
}

@media (min-width: 1200px) {
  // .events-images {
  //   height: 250px !important;
  // }
  .events-typography {
    font-size: 18px !important;
  }
}
