.footer-color {
  color: $primary-color !important;
}

.facebook {
  color: #4267b2;
}

.twitter {
  color: #1da1f2;
}

.instagram {
  color: #e1306c;
}

.telegram {
  color: #0088cc;
}

.ዞሪት {
  color: $primary-color;
}

.footer-container-row {
  border-bottom: 1px solid #e1e1e1;
}

.playstore {
  width: 147px;
  height: 50px;
  border: none;
  background-color: black;
  border-radius: 5px;
  color: white;
}
