.MuiSelect-select:focus {
  background-color: transparent !important;
}

.category {
  color: '#000' !important;
}

.MuiFormLabel-root.Mui-focused {
  color: black !important;
}
.MuiSelect-select.MuiSelect-select {
  padding-right: 0px !important;
}

.MuiSelect-select.MuiSelect-select {
  width: 165px !important;
}

.form {
  width: 210px;
}

.MuiSelect-select {
  display: flex !important;
  margin-top: 0px !important;
}

.MuiFormControl-root {
  margin-top: 0 !important;
}
