@mixin button-common-style {
  color: white !important;
  border: 2px solid $primary-color !important;
  text-transform: none !important;
}

@mixin spacing {
  margin-bottom: 0 !important;
  padding: 10px 10px !important;
}

@mixin remove-border {
  border: none !important;
}

@mixin remove-display {
  display: none !important;
}

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
