.image-container {
  max-width: 345px;
}

.new-images {
  height: 120px;
}

@media (min-width: 716px) {
  .new-images {
    height: 160px !important;
  }
}

@media (min-width: 991px) {
  .new-images {
    height: 200px !important;
  }
}

@media (min-width: 1200px) {
  .new-images {
    height: 250px !important;
  }
  .new-typography {
    font-size: 16px !important;
  }
}
