@import './mixins';
@import './variables';
// homepage imports
@import './home_page_style/categories';
@import './home_page_style/dropdown';
@import './home_page_style/footer';
@import './home_page_style/home';
@import './home_page_style/nav-bar';
@import './home_page_style/events';
@import './home_page_style/posts';
@import './home_page_style/see-more-button';
@import './home_page_style/sponsored';
// categoriespage imports
@import './categories_page_style/categories';

// event-page
@import './event_page_style/event';

// all-events-page
@import './events_page_style/events';

// search-page
@import './search_page_style/search';

// favourite-page
@import './favourite_page_style/favourite';

// detail-page
@import './detail_page_style/detail';

// authentication-page
@import './authentication_style/authentication';

.text-decoration-none {
  text-decoration: none !important;
}

.text-decoration-none:hover {
  text-decoration-line: none !important;
}

a:hover {
  text-decoration: none !important;
}

.preloading {
  margin-top: 30vh;
  margin-bottom: 30vh;
  margin-left: 45vw;
}

.MuiCircularProgress-svg {
  color: $primary-color !important
}

.bg-lighter {
  background-color: #efefef !important
}