$primary-color: #bb7900;

@mixin button-common-style {
  color: white !important;
  border: 2px solid $primary-color !important;
  text-transform: none !important;
}

@mixin spacing {
  margin-bottom: 0 !important;
  padding: 10px 10px !important;
}

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

// *
//   box-sizing: border-box

.navbar {
  background-color: black !important;
  // opacity: 0.7;
}

.button-style {
  @include button-common-style();
  margin-bottom: 1rem !important;
}

.button-style-signup {
  @include button-common-style();
  border: none !important;
  background: $primary-color !important;
  margin-bottom: 1rem !important;
}

@media (min-width: 768px) {
  .navbar {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
}

@media (min-width: 992px) {
  .navbar-nav {
    @include flex();
  }
  .button-style {
    @include spacing();
    &:hover {
      background: $primary-color !important;
    }
  }
  .button-style-signup {
    @include spacing();
  }
}
