.authentication-container {
  //height: 100%;
  padding: 24px !important;

  .input-container {
    // border: 1px solid #d3d3d3;
    border-radius: 6px;

    &::-webkit-scrollbar {
      width: 0 !important;
    }

    .text-field {
      color: $primary-color !important;
    }

    .checkbox {
      padding: 0 !important;
    }

    .button-height {
      height: 25px !important;

      &:hover {
        background-color: white !important;
      }
    }

    .button-container {
      text-align: center;

      .social-buttons {
        width: 250px;

        &:first-child {
          margin-bottom: 15px;
        }
      }

      .google-sign-in {
        background: -webkit-linear-gradient(#4285f4, #db4437, #f4b400, #0f9d58);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-right: 15px;

        &:hover {
          background: white !important;
        }
      }

      .facebook-sign-in {
        color: #4267b2;

        &:hover {
          background: white !important;
        }
      }
    }

    .sign-in-button {
      background: $primary-color;
      width: 350px;

      &:hover {
        background: white;
        color: black !important;
        border: 1px solid $primary-color;
        padding: 6px 16px;
      }
    }

    .line {
      flex: 1;
      height: 1px;
      background-color: #d5d5d5;
    }

    .signin-opacity {
      opacity: 0.6;
    }
  }
}

.MuiInput-underline:after {
  border-bottom-color: $primary-color !important;
}

.MuiFormLabel-root.Mui-focused {
  color: $primary-color !important;
}

@media (min-width: 767px) {
  .input-container {
    .input-items-container {
      //display: flex;
      flex-direction: column;

      .input-items {
        width: 60% !important;
      }
    }

    .button-container {
      display: flex;
      justify-content: space-around;

      .social-buttons {
        width: auto !important;

        &:first-child {
          margin-bottom: 0 !important;
        }
      }

      .google-sign-in {
        margin-right: 0 !important;
      }
    }
  }
}

// @media (min-width: 1024px) {
//   .button-container {
//     display: flex;
//     justify-content: space-around;
//     .social-buttons {
//       width: auto !important;
//       &:first-child {
//         margin-bottom: 0 !important;
//       }
//     }
//     .google-sign-in {
//       margin-right: 0 !important;
//     }
//   }
// }
@media (min-width: 992px) {
  .authentication-container {
    display: flex;
    padding: 0 !important;

    .input-container {
      border: none !important;
      border-radius: 0 !important;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .input-items-container {
        align-items: center;
      }
    }
  }
}
