.detail-page {
  background: #e3e3e3;
}
.img-container {
  width: 100%;
  height: 400px;
  overflow: hidden;
  // background: linear-gradient(to bottom, #ffffff 0%, #000000 100%);
  background: linear-gradient(0deg, black, transparent);
}
.img-background {
  position: absolute;
  top: 0%;
  height: 400px;
  width: 100%;
  // background: black;
  background: linear-gradient(0deg, black, transparent);
  // background: linear-gradient(to bottom, #ffffff 0%, #000000 100%);
  opacity: 0.6;
}

.img-content {
  position: absolute;
  top: 30%;
}

.icon-content {
  position: absolute;
  top: 1%;
}
.img-content {
  display: none;
}

.detail-open {
  color: rgba(5, 168, 130, 1);
}

.detail-icons {
  border: 1px solid #e3e3e3;
  padding: 6px;
  border-radius: 16px;
  background: #e3e3e3;
  cursor: pointer;
}

.detail-location-image {
  height: 200px;
}

.detail-border-bottom {
  border-bottom: 1px solid #e3e3e3;
}

.see-all {
  border: 1px solid white !important;
  width: 250px;
}

.see-all:hover {
  background-color: $primary-color !important;
  border: 1px solid $primary-color !important;
  color: white !important;
}

.event-list {
  display: flex !important;
  flex-wrap: nowrap !important;
}

.event-grid-list::-webkit-scrollbar {
  width: 0 !important;
}

.event-grid-list {
  flex-wrap: nowrap !important;
}

.related-image {
  height: 120px;
  width: 100px;
}

.related-business-title {
  font-size: 16px;
  margin-bottom: 16px;
}

.related-business-dolar {
  margin-left: auto;
}
.get-direction-respo {
  cursor: pointer;
}
.more-info {
  border: 1px solid $primary-color !important;
}

.more-info:hover {
  color: white !important;
  background-color: $primary-color !important;
}

@media (min-width: 768px) {
  .detail-page {
    background-color: white !important;
  }
  .img-content {
    top: 24% !important;
  }
  .border-bottom {
    border-bottom: 1px solid #e3e3e3;
  }
  .description-grid-respo-1 {
    border: 1px solid $primary-color !important;
    background: $primary-color;
    border-radius: 4px;
    cursor: pointer;
  }
  .description-grid-respo {
    border: 1px solid #a09999;
    border-radius: 4px;
    cursor: pointer;
  }
  .description-grid-respo:hover {
    background-color: #e3e3e3;
    border: 1px solid #e3e3e3;
  }
  .detail-location-image {
    width: 300px;
  }
  .get-direction-respo-container {
    width: 50% !important;
    height: 74px;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
  }
  .open-hour-container {
    width: 38% !important;
  }
  .open-hour-item {
    font-weight: 600;
  }
  .get-direction-respo {
    cursor: pointer;
  }
  .grid-list-tile-respo {
    width: 42% !important;
  }
  .related-image {
    width: 300px !important;
    height: auto !important;
    margin-bottom: 10px;
  }
  .related-business-title {
    font-size: 20px !important;
    margin-bottom: 0 !important;
  }
  .related-business-desc {
    font-size: 14px;
    opacity: 0.7;
    margin-bottom: 0 !important;
  }
  .related-business-dolar {
    margin-left: 0 !important;
    font-size: 14px;
    opacity: 0.7;
  }
  .related::-webkit-scrollbar {
    width: 0 !important;
  }
  body {
    background: white !important;
  }
}

@media (min-width: 992px) {
  .grid-list-tile-respo {
    width: 34% !important;
  }
}
